@charset "utf-8";
// sCSS Document
// Powered by foxartbox | info@foxartbox.com



.popup_cooperation {
	align-items: center;
	display: none;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;

	.btn__close {
		position: absolute;
		right: 12px;
		top: 12px;
	}
}

.popup_cooperation__active {
	.popup_cooperation {
		display: flex;
	}
}

.popup_cooperation__bg {
	background-color: #000;
	height: 100%;
	opacity: .5;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.popup_cooperation__content {
	padding: 64px;
}

.popup_cooperation__content_wrap {
	background-color: #fff;
	position: relative;
	z-index: 3;
}


